Hello World

-# - content_for :scripts do
-#   :javascript
-#     if ('serviceWorker' in navigator) {
-#       navigator.serviceWorker.register('/benallen.github.io/sw.js').then(function(reg) {
-#         console.log('Registered!', reg);
-#       }).catch(function(err) {
-#         console.log('Failed!', err);
-#       });
-#     }
