<h1>Hello World</h1>

<script language="javascript">

  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js').then(function(reg) {
      console.log('Registered!', reg);
    }).catch(function(err) {
      console.log('Failed!', err);
    });
  }

</script>
